html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/*
button{
  position: relative;
}*/

  .img-select-container{
    position: relative;
    height: "1080px";
  }

  .img-select-img{
    position: absolute;
    height: auto;
    width: auto;
    
  }

  .img-select-img canvas{
    display: block;
    /*vertical-align: middle;*/
  }

  .owl-carousel {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
  }
  
  .responsive{
    width: 98%;
    height: auto;
  }

