
/*
button{
  position: relative;
}*/

  .img-select-container{
    position: relative;
    height:auto;
  }

  .img-select-img{
    position: absolute;
    height: auto;
    width: auto;
    
  }
  
  .responsive{
    width: 98%;
    height: 98%;
  }

